<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Alt Def</title>
    </head>
    <body>
        <h3> {{ word }} isn't a word, dummy!</h3>
        <h3>But, it does mean this: {{word_definition}} </h3>
        <a href="/"><button>Enter another word</button></a>
    </body>
</html>
